<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="jquery-1.8.0.min.js"></script>
    <script src="index.js"></script>
    <script src="md5.js"></script>

</head>
<body>
    nihao!!
    <div style="width:100%;text-align:center">
        <!--<form id="form" name="form" method="post" enctype='application/json'>-->
    <form id="form" name="form" >
        <label>用户id：</label></br>
        <input type="text" id="username"name="username"></br>
        <label>用户openid：</label></br>
        <input type="text" id="pwd"name="pwd"></br>
        <input type="button" id="button1" onclick=formdatademo() value="提交">
    </form>
    </div>
</body>

</html>